.table-centered th,
.table-centered td {
  vertical-align: middle;
  width: 10%;
}

/* .hero-img {
  width: 300px;
} */

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-btn {
  float: right;
}

.searchAndAddKidContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(218, 225, 227);
}

@media (max-width: 768px) {
  .delete-btn {
    float: none;
  }
}
