* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Courier New", sans-serif;
  background-color: rgb(0, 0, 0);
  font-size: 20px;
}

.kids-div,
.knatte-div {
  border-radius: 5px;
  background-color: rgb(71, 71, 71);
  padding: 30px;
  margin: 10px;
  box-shadow: 0px 4px 6px rgba(102, 102, 102, 0.95);
}

.asc-btn {
  background-color: rgba(0, 128, 0, 0.5);
}

.desc-btn {
  background-color: rgba(181, 0, 0, 0.5);
}

.asc-btn,
.desc-btn,
.knatte-btn,
.barn-btn {
  font-size: 20px;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.asc-btn:hover,
.desc-btn:hover,
.knatte-btn:hover,
.barn-btn:hover {
  transform: scale(1.1);
  background-color: white;
}

.graduated {
  display: block;
  color: gold;
}

.login-error {
  color: red;
}

.login-title {
  color: white;
}

.logo {
  width: 200px;
}

.input-password,
.input-username {
  font-family: "Inter", sans-serif;
  border-radius: 5px;
  margin: 5px;
  border: 3px solid darkgray;
  font-weight: 1000;
  background-color: darkgray;
}

.login-btn {
  font-family: "Inter", sans-serif;
  color: black;
  border-radius: 5px;
  background-color: darkgray;
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: white;
  color: black;
  border: 1px solid gold;
  scale: 1.1;
}

.content-container-login {
  padding: 50px;
}

/* .knatte-div {
  color: white;
  background-color: brown;
  margin: 5px;
} */

.dashboard-title {
  color: white;
}

.knatte-title {
  color: white;
}

.login-title {
  color: white;
}

.knatte-btn,
.barn-btn {
  background-color: purple;
}

.dashboard-title {
  color: white;
}
